services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: symfony_app
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - APP_ENV=dev
      - COMPOSER_ALLOW_SUPERUSER=1
    networks:
      - symfony_network
    entrypoint: ["/bin/bash", "-c"]
    command:
      - |
        git config --global --add safe.directory /app
        composer install --no-interaction
        php bin/console cache:clear
        symfony serve --no-tls --port=8000 --allow-http --allow-all-ip

networks:
  symfony_network:
    driver: bridge
